@use "vars";

.form {
    &__form {
        display: flex;
        flex-direction: column;
    }
    &__controls {
        padding-left: 20px;
        padding-right: 20px;
        display: flex;
        flex-direction: column;
        margin-bottom: 24px;
    }
    &__label {
        @extend %label-properties;
        font-weight: 600;
    }
    &__input {
        @extend %input-properties;
        border-radius: 10px;
        background-color: vars.$text-placeholder;
        border: 2px solid darken(vars.$text-placeholder, 10%);
        outline: none;
        font-weight: 400;
    }
    &__button {
        align-items: center;
        background-color: vars.$main-color;
        border-radius: 10px;
        border: none;
        color: white;
        display: flex;
        height: 52px;
        justify-content: center;
        outline: none;
        width: 100%;
        @extend %input-properties;
        transition: 100ms ease-in-out transform;
        &-outline {
            background-color: white;
            color: vars.$main-color;
            border: 2px solid vars.$main-color;
        }
        
    }
    &__submit {
        margin-top: 40px;
    }
    &__link {
        text-decoration: none;
        @extend %label-properties;
        font-size: 16px;
        text-align: right;
        color: vars.$main-color;
    }
}
