$text-placeholder: #f5f7f9;
$text-label-color: #847da4;
$main-color: #f66529;

%text-title-properties {
    font-size: 1.75rem;
    line-height: 2rem;
    font-weight: 500;
}

%label-properties {
    font-size: 1.37rem;
    line-height: 1.75rem;
    font-weight: 400;
    margin-bottom: .5rem;
}

%input-properties {
    font-size: 1.2rem;
    line-height: 1.35rem;
    font-weight: 500;
    padding: 12px 14px;
}
