@use "vars";
@use "main";
@use "form";
@use "media-query";
body {
    margin: 0;
    padding: 0;
    font-family: "Poppins", "Arial";
}

hr {
    margin: 24px 0;
    position: relative;
    border: none;
    height: 1px;
    background: #999;
    overflow: visible;
    &::after {
        content: "O";
        display: inline-block;
        background: #fff;
        font-weight: bold;
        font-size: 1rem;
        color: #999;
        border-radius: 30rem;
        padding: 0 10px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}

